<h1 class="text-3xl font-bold mb-6">Training Plans Admin</h1>

<ul class="list-disc pl-5 space-y-2">
  <% @plans.each do |plan_key| %>
  <li>
    <%= link_to plan_key.humanize, admin_training_plans_edit_path(file_key: plan_key), class: "text-blue-600 hover:underline" %>
  </li>
  <% end %>
</ul>